.footer {
  background-color: #d7a52ec1;
  padding: 20px 0;
  text-align: center;
}
.footer-content {
  max-width: 1200px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.footer-links{
  display: flex;
  gap: 15px;
  margin: 10px 0;
}
.link:hover{
    text-decoration: underline;
    color: white;
    font-size: 110%;
}
.footer-social {
    display: flex;
    gap: 15px;
    margin: 10px 0;
  }
.footer-para{
    font-weight: bold;
}

  
  
  
  